/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'MuseoModerno', cursive;
  font-size: 10px;
  line-height: 2;
  letter-spacing: 2px;
  word-spacing: 2px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
h1,h2 {
   font-family: 'Dancing Script', cursive;
   font-family: 'MuseoModerno', cursive;
   text-align: center;
   font-size: 3rem;
   letter-spacing: 1px;
}

header, section, aside, nav, footer {
  font-size: 1.5rem;
}

section h+p {
  text-indent: 20px;
}
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: blue;
  border-bottom: 1px solid;
}

a:visited {
  color: purple;
}

a:focus, a:hover {
  color: orangered;
  background-color: palegoldenrod;
}

a:active {
  color: red;
}

a[href*="http"] {
  background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
  background-color: palegoldenrod;
}

nav ul {
  padding: 20px;
}
nav ul a {
  outline: none;
  text-decoration: none;
  display: block;
  height: 100%;
  margin: 20px;
  text-align: center;
  line-height: 3;
  color: black;
  border: 1px solid;;
  background-color: palegoldenrod;
  padding: 10px;
}

